doctype html
html(lang="en")
   head
      title= pageTitle
      link(rel='stylesheet',type='text/css',href='/css/bootstrap.min.css')
   body
      .row
         h1.col-md-offset-3 Crypto Data Collector
      #container
         .row
            .col-md-6.col-md-offset-3
               table.table.table-striped.table-dark
                  thead
                     tr
                        th Product ID
                        th Order Type
                        th Price
                  tbody
                     - items.forEach(function(item) {
                        tr 
                           td #{item.product_id}
                           td #{item.order_type}
                           td #{item.price}
                     - })
               - for (var i = 0; i < 10 /*add page count here*/; i++)
                  a(href='#') #{i} 
